<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.1" targetFramework="net451" />
  <package id="Kogel.Dapper.Extension" version="3.1.0" targetFramework="net451" />
  <package id="Kogel.Dapper.Extension.Mssql" version="3.1.2" targetFramework="net451" />
</packages>